<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--head-->
<head th:replace="fragments.html :: head"></head>
<body>
<!--main-nav-->
<div th:replace="fragments.html :: main-nav"></div>
<!-- 이메일 인증을 마치지 않은 사용자에게 경고창 띄우기 -->
<!-- account null이 아니면 !acoount?(? : null일지도 모른다는 의미임) -->
<!-- 이미 앞에서 null이 아니면이라고 했기 때문에 !account.emailVerified -->
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    스터디올레 가입을 완료하면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>
<div class="container">
    <div class="py-5 text-center">
        <h2>계정 만들기</h2>
    </div>
</div>
<!-- footer -->
<div th:replace="fragments.html :: footer"></div>
<!--form-validation-->
<div th:replace="fragments.html :: form-validation"></div>
</body>
</html>